.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.Puzzle {
  display: grid;
  grid-template-columns: repeat(80px, 80px);
  /* Adjust tile size */
  grid-template-rows: repeat(80px, 80px);
  /* Adjust tile size */
  gap: 5px;
  margin-top: 20px;
}

.Tile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  cursor: pointer;
  font-size: 24px;
}

.EmptyTile {
  background-color: #fff;
}